
h1 {
  display: block;
  font-size: 2.5em;
  margin-top: 1.34em;
  margin-bottom: 0.67em;
  margin-left: 1.34em;
  margin-right: 0;
  font-weight: bolder;
}

.container {
  display:flex;
  align-items:center;
  width: 95% ;
  height: 95% ;
  
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(4,1fr); 
  gap: 20px;
/* grid-auto-columns: minmax(100px,auto);
grid-auto-rows: minmax(100px,auto);  
} */
}
.gallery__img {
  width: 100%;
  height:100%;
  object-fit: fill;
   display: grid;   
  
}

.image_1 {
  width: 100%;
  height:100%;
    grid-column-start:1 ;
    grid-column-end:3 ;
    grid-row-start: 1;
    grid-row-end:3 ;}
    .image_2 {
      width: 100%;
  height:100%;
      grid-column-start:3 ;
        grid-column-end:4 ;
        grid-row-start:1 ;
        grid-row-end: 2;}
        .image_3 {
          width: 100%;
          height:100%;
           grid-column-start:4 ;
            grid-column-end:5 ;
            grid-row-start:1 ;
            grid-row-end: 2;}
            .image_4 {
              width: 100%;
  height:100%;
              grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;}
                .image_5 {
                  width: 100%;
                  height:100%;
                   grid-column-start: 4;
                    grid-column-end: 5;
                    grid-row-start: 2;
                    grid-row-end: 3;}
                    .image_6 {
                      width: 100%;
  height:100%;
                      grid-column-start: 1;
                        grid-column-end: 3;
                        grid-row-start: 3;
                        grid-row-end: 4;}
                        .image_7 {
                          position: relative;
  /* text-align: center; */
                          width: 100%;
                          height:100%;
                          grid-column-start:3 ;
                            grid-column-end: 5;
                            grid-row-start: 3;
                            grid-row-end: 4;
                        }
  h3{
    position: relative;
    bottom:50px;
    right: 8px;
 justify-content: end;
    display: flex;
    align-content: flex-end;
    color: azure;
    z-index: auto;
  }